
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

.wrapper {
    font-family: 'Sarala', sans-serif;
    margin-top: 5%;
    display: inline-block;
}

.typeText {
    font-size: 30px;
    color: whitesmoke;
}

.content_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    width: 1000px;
    border: 1px solid white;
    background-color: rgb(187, 187, 201);
    margin-bottom: 10%;
    overflow-y: scroll;
    height: 800px;
}


.contentCard {
    display: flex;
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgb(21, 20, 22);
    border-radius: 3px;
    height: max-content;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}




.watchBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.watchBlock >button:hover {
    transition-duration: 0.5s;
    background-color: darkgreen;
}
.watchBlock > button {
    cursor: pointer;
    font-size: 15px;
    color: white;
    padding: 10px;
    background-color: rgb(14, 165, 9);
    margin-top: 10%;
    border: none;
    transition-duration: 0.5s;
}

.editCard {
    display: flex;
    background-color: rgb(21, 20, 22);
    flex-direction: column;
    padding: 30px;
}

.editTitleField {
    margin-bottom: 7%;
}

.editImageField {
    margin-bottom: 7%;
}

.editLinkField {
    margin-top: 7%;
}

.editGenreField {
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: 55%;
}

.cardHeader {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}



.contentPhoto {
    margin-bottom: 5%;
    border: 3px solid rgb(255, 28, 11);
    width: 200px;
}

.editModeButtons {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    justify-content: center;
}

.editBtn {
    margin-left: 10px;
}




